# Minta file .env aslinya ke backend dev ya!
DATABASE_URL="postgresql://postgres.kglkoqgndmtghhuibgmu:[MINTA_PASSWORD_KE_PEMILIK_SUPABASE]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=rahasia_plateq_2026
